@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";
@import "blog";
@import "profile";
@import "_blocks/register.scss";
@import "_blocks/signin.scss";


/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

// body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

main {
  margin-left: 292px;
  margin-top: -50px;
}

.main__section__name {
  font-family: 'Gilroy';
  font-style: normal;
  // font-weight: 400;
  font-size: 47px;
  line-height: 57px;
  color: #070707;
  width: 280px;
  margin-bottom: -28px;
}

.main__desc__about__me__div {
  display: flex;
  margin-left: -43px;
}

.main__desc__about__me {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #070707;
  margin-top: 106px;
  width: 208px;
}



// .main__banner__slider__button__right {

// }

// .main__banner__slider__button__right:hover {
//   border: none;
//   background-image: url("../img/right__arrow.png");
//   background-repeat: no-repeat;
//   width: 42px;
//   height: 42px;
//   cursor: pointer;
//   opacity: 0.6;
// }

// .main__slider__buttons {
//   margin-top: 20px;
//   display: flex;
//   justify-content: space-between;
//   width: 1000px;
// }

// .main__banner__slider__circles {
//   background: none;
//   border: none;
//   background-image: url("../img/gray__circle.png");
//   background-repeat: no-repeat;
//   width: 12px;
//   height: 12px;
//   cursor: pointer;
// }

// .main__banner__slider__circles__ul {
//   display: flex;
//   gap: 0px 20px;
//   margin-left: -45px;
// }

.about__me__section {
  background-color: #F6F6F6;
  width: auto;
  height: auto;
}

.about__me__section__h__three {
  padding-top: 46px;
  padding-bottom: 30px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #070707;
}

.about__me__section__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px 0px;
}

.about__me__section__ul__message__li {
  width: 680px;
  justify-content: end;
}

.skills__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills__section__h__four {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #070707;
}

.skills__section__i__work {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #070707;
  margin-top: -24px;
}

.skills__section__ul {
  display: flex;
  gap: 0% 14%;
  margin-left: -30%;
}

.skills__section__ul__li__one {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.skills__section__ul__li__div__prog__bar {
  display: flex;
  gap: 0px 4px;
  height: 10px;
}

.send__message__fieldset__form {
  border: 2.5px solid #070707;
  background-color: #fff;
}

.send__message__form__input__text__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 4px 0px;
}

.send__message__form__input__text__fieldset__special {
  border: none;
}

.send__message__fieldset__form__first__part {
  border: none;
  display: flex;
  padding-top: 40px;
}

.send__message__fieldset__form__sec__part {
  border: none;
  display: flex;
  // padding-top: 40px;
}
/* стилизация текста вокруг инпутов начата */
.send__message__form__text__input__fieldset__label {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #070707;
}

.send__message__fieldset__form__label__star__color {
  color: #EB3617;
}

.send__message__form__text__input__fieldset__label__special {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #E5E5E5;
}

/* стилизация текста вокруг инпутов окончена */
/* бордер у инпутов начат */

.send__message__form__text__input__fieldset__border {
  border: 2.5px solid #E5E5E5;
  width: 290px;
  height: 44px;
}

.send__message__form__text__input__fieldset__label__special {
  border: 2.5px solid #E5E5E5;
  width: 620px;
  height: 150px;
}

/* бордер у инпутов закончен */

// .send__message__form__input__text__fieldset__special__checkbox {
//   // position: absolute;
//   // z-index: -1;
//   // opacity: 0;
// }

.sendMessageForm {
  display: flex;
  position: absolute;
  top: 220%;
  left: 29%;
  // background-color: white;
  z-index: 1;
}

.sendMessageFormClosed {
  display: none;
}

// body {
//   z-index: 1;
//   background-color: #fff;
//   top: 0px;
//   bottom: 0px;
//   left: 0px;
//   right: 0px;
//   width: auto;
//   height: auto;    
// }

.sendMessageOffButton {
  border: none;
  // opacity: 0;
  background-image: url('../img/CloseForm.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.send__message__div {
  display: flex;
  gap: 0px 10px;
}

.send__message__form__legend {
  display: none;
}

// slider section style

.container {
  min-width: 1000px;
  margin: 0 auto;
}

.slider {                
  margin: 50px auto;
  // z-index: -1;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__inner-wrapper {
  display: flex;
  height: 100%;
  transition: transform;
}

.slider__slide {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  height: 465px;

  font-size: 24px;
  color: #fff;
}

.slider__slide:nth-child(4n + 1){
  background-color: #e08dac;
}

.slider__slide:nth-child(4n + 2){
  background-color: #45cb85;
}

.slider__slide:nth-child(4n + 3){
  background-color: #f79824;
}

.slider__slide:nth-child(4n + 4){
  background-color: crimson;
}

.slider__button-css-left {
  border: none;
  background-image: url("../img/left__arrow.png");
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.slider__button-css-right {
  border: none;
  background-image: url("../img/right__arrow.png");
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

// .main__banner__slider__button__left:hover {
//   border: none;
//   background-image: url("../img/left__arrow.png");
//   background-repeat: no-repeat;
//   width: 42px;
//   height: 42px;
//   cursor: pointer;
//   opacity: 0.6;
// }

// .slider__button-css-right {
//   border: none;
//   background-image: url("../img/right__arrow.png");
//   background-repeat: no-repeat;
//   width: 42px;
//   height: 42px;
//   cursor: pointer;
// }

.slider__bottom-panel {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__button {
  background-color: transparent;
  transition: all 0.5s;
}

.slider__button-css-left:disabled {
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

.slider__button-css-right:disabled {
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

.slider__button-css-right:hover {
  transition: all 0.5s;
  opacity: 0.7;
  transform: scale(1.1);
}

.slider__button-css-left:hover {
  transition: all 0.5s;
  opacity: 0.6;
  transform: scale(1.1);
}

.slider__button:disabled {
  background-color: transparent;
  transition: all 0.5s;
  opacity: 0.2;
}

.slider__dot {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.slider__dot:not(:last-child) {
  margin-right: 5px;
}

.slider__dot_active {
  background-color: black;
}

// .slider:not(.slider__dot_active):hover, .slider__dot:not(.slider__dot_active):focus {
//   background-color: gray;
// }
// slider section style

// sign in modal style 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // z-index: 1;
  background: #F6F6F6FC;
}

.body_js__OH {
  overflow: hidden;
}