<div class="edit__password__js">
    <div class="edit__password__modal">
      <div class="edit__password__form">
        <form class="edit__password__form--border" action="">
          <div class="edit__password__form__input__wrapper">
            <label class="edit__password__form--label-input" for="">Old password <span class="edit__password__form--label-star">*</span></label>
            <input class="edit__password__form--input-password" type="password" placeholder="**********">
          </div>
          <div class="edit__password__form__input__wrapper">
            <label class="edit__password__form--label-input" for="">New password <span class="edit__password__form--label-star">*</span></label>
            <input class="edit__password__form--input-password" type="password" placeholder="****************">
          </div>
          <div class="edit__password__form__input__wrapper">
            <label class="edit__password__form--label-input" for="">Repeat new password <span class="edit__password__form--label-star">*</span></label>
            <input class="edit__password__form--input-password" type="password" placeholder="****************">
          </div>
          <button class="edit__password__form--submit-btn" type="submit">Change password</button>
        </form>
      </div>
      <button class="edit__password__form-close__btn" type="button"></button>
    </div>
  </div>