<footer class="footer__settings">
    <h1 class="footer__h__one">Contacts</h1>
    <p class="footer__p">Want to know more or just chat? You are welcome!</p>
    <button class="footer__button__send" type="button">Send message</button>
    <div class="footer__social__networks__div">
        <div class="footer__social__networks__wrapper__one">
            <a class="footer__social__networks__a" href="#">Instagram</a>
            <a class="footer__social__networks__a" href="https://vk.com/mrrambamboo">Vk</a>
            <a class="footer__social__networks__a" href="t.me/RamBamBooo">Telegram</a>
        </div>
        <div class="footer__social__networks__wrapper__one">
            <a class="footer__social__networks__a" href="#">Mail</a>
            <a class="footer__social__networks__a" href="https://github.com/RamBamBoop">GitHub</a>
            <a class="footer__social__networks__a" href="#">Phone</a>          
        </div>
    </div>
        <ul class="footer__ul__design__by">
            <li><p class="footer__design__p">Design by DL Academy</p></li>
            <li><p class="footer__design__p">Program code from Timofei</p></li>
        </ul>
</footer>