<div class="regForm--js">
<div class="register__modal">
    <div class="register__form">
      <form class="register__form--border" action="">
        <div class="register__form--input__wrapper-email">
          <label class="register__form--label" for="">Email <span class="register__form--red_star">*</span></label>
          <input class="register__form--input_text_email" type="text" name="" id="">
        </div>
        <div class="register__form--wrapper__wrapper">
        <div class="register__form--input__wrapper">
          <label class="register__form--label" for="">Name <span class="register__form--red_star">*</span></label>
          <input class="register__form--input_text" type="text" name="" id="">
        </div>
        <div class="register__form--input__wrapper">
          <label class="register__form--label" for="">Surname <span class="register__form--red_star">*</span></label>
          <input class="register__form--input_text" type="text" name="" id="">
        </div>
        </div>
        <div class="register__form--wrapper__wrapper">
          <div class="register__form--input__wrapper">
            <label class="register__form--label" for="">Password <span class="register__form--red_star">*</span></label>
            <input class="register__form--input_text" type="text" name="" id="">
          </div>
          <div class="register__form--input__wrapper">
            <label class="register__form--label" for="">Repeat password <span class="register__form--red_star">*</span></label>
            <input class="register__form--input_text" type="text" name="" id="">
          </div>
          </div>
          <div class="register__form--wrapper__wrapper">
            <div class="register__form--input__wrapper">
              <label class="register__form--label" for="">Location <span class="register__form--red_star">*</span></label>
              <input class="register__form--input_text" type="text" name="" id="">
            </div>
            <div class="register__form--input__wrapper">
              <label class="register__form--label" for="">Age <span class="register__form--red_star">*</span></label>
              <input class="register__form--input_text" type="text" name="" id="">
            </div>
            </div>
            <div class="register__form--checkbox__wrapper">
              <input class="register__form--checkbox" type="checkbox" name="" id="">
              <label class="register__form--label__checkbox" for="">Clicking on the button, you consent to the processing of your personal data.</label>
            </div>
        <button class="register__form--btn" type="submit">Sign up</button>
      </form>
    </div>
    <button class="register__form-close__btn" type="button"></button>
  </div>
</div>