<div class="sign-in__modal">
    <div class="sign-in__form">
      <form class="sign-in__form--border" action="">
        <div class="sign-in__form--input__wrapper">
          <label class="sign-in__form--label" for="">Email <span class="sign-in__form--red_star">*</span></label>
          <input class="sign-in__form--input_text" type="text" name="" id="">
        </div>
        <div class="sign-in__form--input__wrapper">
          <label class="sign-in__form--label" for="">Password <span class="sign-in__form--red_star">*</span></label>
          <input class="sign-in__form--input_text" type="text" name="" id="">
        </div>
        <button class="sign-in__form--btn" type="submit">Log in</button>
      </form>
    </div>
    <button class="sign-in__form-close__btn" type="button"></button>
  </div>